# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env*

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
*.db
*.db-*
*.db.*

/meilisearch/

# category mapping tool
/category_embeddings.json
/category_mapping.json
.nuxt/
.output/
*.sw[a-z]
/data
/inngest
/temp*